<link rel="stylesheet" href="/css/header.css">
<header class="header">
    <% if(req.session.userLoggedIn) { %>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <a href="/"><img src="/images/imgHome/logoWhite.png" alt=""></a>
        <div>
            <ul>
                <li><a href=""> Olá Usuário </a></li>
                <li><a href="/services/adm/show"> Serviços</a></li>
                <li><a href="/adm/pets/"> pets</a></li>
                <li><a href="/logout"> Logout</a></li>
            </ul>
        </div>
    <% }else { %> 
        <a href="/"><img src="/images/imgHome/logoWhite.png" alt=""></a>
        <div>
            <ul>
                <li><a href=""> Sobre</a></li>
                <li><a href="/services"> Serviços</a></li>
                <li><a href="/contact"> Contato</a></li>
                <li><a href="/login"> Login</a></li>
            </ul>
        </div>
    <% } %>
</header>