.section-1 {
    display:flex;
    flex-direction: row;
    width: 100%;;
    height: 536px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.section-1 div{
    height: 275px;
    width: 560px;
}
.section-1 div p{
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: #757575;
}
.section-1 img{
    height: 351px;
    width: 499px;
}
.section-2 {
    background-color: #E5E5E5;
}
.section-2 .sub-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
}
.section-2 h1 { 
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    text-align: center;
    padding: 100px 0px 67px 0px
}
.sub-section .sub-section-img {
    height: 264px;
    width: 266px;
    background-color: #FFFFFF;
}
.sub-section .card-service {
    height: 357px;
    width: 266px;
    margin: 0px 0px 105px 0px;
}
.card-service .service{
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
}
.card-service .valor{
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
}
.section-3 {
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
    align-items: center;
    padding: 178px 99px 147px 156px;
}
.section-3-img{
    height: 355px;
    width: 498px;
}
.section-3-text{
    height: 111px;
    width: 561px;
}
.section-3-text #text-1{
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    color: #757575;
}
