<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/contact.css">
<%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %>
    
    <main class="main-contact">
        <section class="section-form">
            <form action="" method=""> 
                <label for="name"> 
                    <input id="name" type="text" placeholder="name">
                </label>
                <br>
                <label for="email">
                    <input id="email" type="email" placeholder="e-mail">
                </label>
                <br>
                <label for="messege">
                    <textarea name="" id="messege" cols="30" rows="10" placeholder="messege"></textarea>
                </label>
            </form>
        </section>

        <section class="section-locality">
            <p>
                CONTATO@PETSHOP.COM.BR
                (11) 98484-8484 (WHATSAPP)
            </p>        
            
            <p>
                AVENIDA PAULISTA, 4242
                BAIRRO CONSOLAÇÃO - SÃO PAULO- SP
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117070.78296966382!2d-46.311329137500046!3d-23.515881299999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdd836a9f9cde1%3A0x227fb73b77deb77a!2sMogi%20Shopping!5e0!3m2!1spt-BR!2sbr!4v1652827450523!5m2!1spt-BR!2sbr" width="533" height="202" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main> 
</body>
</html>