<link rel="stylesheet" href="/css/header.css">
<header class="header">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <a href="/"><img src="/images/imgHome/logoWhite.png" alt=""></a>
    <div>
        <ul>
            <li><a href=""> Olá Usuário </a></li>
            <li><a href="/services/adm/show"> Serviços</a></li>
            <li><a href="/adm/pets/"> pets</a></li>
            <li><a href="/logout"> Logout</a></li>
        </ul>
    </div>
</header>
