<link rel="stylesheet" href="/css/footer.css">
<footer>
    <img src="/images/logoBlack.png" alt="" id="logoBlack">
    <div>
        <p>
            CONTATO@PETSHOP.COM.BR
        </p>
        <p>
            (11) 98484-8484 (WHATSAPP)
        </p>
        <p>
            AVENIDA PAULISTA, 4242
        </p>
        <p>
            BAIRRO CONSOLAÇÃO
        </p>
        <p>
            SÃO PAULO- SP
        </p>
        
    </div>
    <img src="/images/mapFooter.png" alt="" id="mapFooter">
</footer>