<link rel="stylesheet" href="/css/header.css">
<header class="header">
    <img src="/images/logoWhite.png" alt="">
    <div>
        <ul>
            <li><a href=""> Sobre</a></li>
            <li><a href=""> Serviços</a></li>
            <li><a href=""> Contato</a></li>
            <li><a href=""> Login</a></li>
        </ul>
    </div>
</header>