<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %> 
<link rel="stylesheet" href="/css/login.css">
<body>
    <%- include('../partials/header')  %>
    <main class="main-login">
        <section class="img-cat">
            <img src="/images/imgHome/manAndCat.png" alt="Homem e Gato em um sofá">
        </section>

        <section class="table-login">
            <h1> LOGIN </h1>
            <form action="/login" method="POST">
                <input type="email" name="email" id="" placeholder="email">
                <br>
                <input type="password" name="password" id="" placeholder="senha">
                <br>
                <button type="submit" class="btn"> Entrar </button>
            </form>
            <a href="/users/create"> Cadastrar-me </a>
        </section>
    </main>
    
</body>
</html>