<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/service.css">
<%- include('../partials/head')  %>

<body>

    <%- include('../partials/header')  %>

    <main>
        <h1 id="service-title"> SERVIÇOS </h1>

        <section class="section section-1">
            <div class="section-img"></div>

            <div class="section-describ">
                <span class="describ-title">
                    BANHO COMPLETO
                </span>

                <span class="describ-valor">
                    R$ 40,00
                </span>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reiciendis? Quam quidem nam
                    suscipit, earum cum temporibus laborum est voluptatibus! Inventore mollitia eos facere tempore sint
                    dolorum tenetur, veritatis quod.
                </p>
               <a href="#"> <button type="submit"> agendar </button> </a>
            </div>
        </section>

        <section class="section section-2">
            <div class="section-img"></div>

            <div class="section-describ">
                <span class="describ-title">
                    BANHO E TOSA
                </span>

                <span class="describ-valor">
                    R$ 40,00
                </span>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reiciendis? Quam quidem nam
                    suscipit, earum cum temporibus laborum est voluptatibus! Inventore mollitia eos facere tempore sint
                    dolorum tenetur, veritatis quod.
                </p>

                <a href="#"> <button type="submit"> agendar </button> </a>
            </div>
        </section>

        <section class="section section-3">
            <div class="section-img"></div>

            <div class="section-describ">
                <span class="describ-title">
                    CONSULTA VETERINÁRIA
                </span>

                <span class="describ-valor">
                    R$ 40,00
                </span>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reiciendis? Quam quidem nam
                    suscipit, earum cum temporibus laborum est voluptatibus! Inventore mollitia eos facere tempore sint
                    dolorum tenetur, veritatis quod.
                </p>

                <a href="#"> <button type="submit"> agendar </button> </a>
            </div>
        </section>

    </main>

    <%- include('../partials/footer') %>

</body>

</html>